# Data Science Tools and Ecosystem

Introduction.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages Data Scientists use are;
1. R
2. Scala
3. Python
4. SQL
5. C++

**Objectives**
- List popular languages for Data Science.
- Create a table of Data Science tools.
- Create a markdown cell introducing arithmetic expression examples.
- Create a code cell to convert minutes to hours.
- Create a markdown cell introducing arithmetic expression examples.

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn 
2. Matplotlip
3. Numpy
4. Pandas
5. Keras

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Pytorch |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python
- 1 + 4
- 2 * (4+5)

In [4]:
(3*4)+5

## This is a simple arithmetic expression to mutiply then add integers.

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Halima A. Momoh